<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crear Repuesto</h1>
          </div>
          <form class="user" action="" method="post">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="nombre" value="{{#repuesto}}{{nombre}}{{/repuesto}}" class="form-control form-control-user" id="txtNombre" placeholder="Nombre">
              </div>
              <div class="col-sm-6">
                <input type="text" name="marca" value="{{#repuesto}}{{marca}}{{/repuesto}}" class="form-control form-control-user" id="textMarca" placeholder="Marca">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="referencia" value="{{#repuesto}}{{referencia}}{{/repuesto}}" class="form-control form-control-user" id="txtReferncia" placeholder="Referencia">
              </div>
              <div class="col-sm-6">
                <input type="text" name="precio" value="{{#repuesto}}{{precio}}{{/repuesto}}" class="form-control form-control-user" id="txtPrecio" placeholder="Precio">
              </div>
            </div>
            <div class="form-group ">
              <select class="form-control" type="select" name="id_proveedor" id="" placeholder="as">
                  <option value="0" selected >...Seleccione un Proveedor</option>
                  {{#each empresa}}
                    <option value="{{id}}">{{nombre}}</option>
                  {{/each}}
              </select>
            </div>
            <div class="form-group">
              <input type="text" name="observaciones" value="{{#repuesto}}{{observaciones}}{{/repuesto}}" class="form-control form-control-user" id="txtObservaciones" placeholder="Observaciones">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              {{#if repuesto}}
                Modificar
              {{else}}
                Guardar
              {{/if}}
            </button>
            <hr>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>



