<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crear SOAT</h1>
          </div>
          <form class="user" action="" method="post">
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                <input type="text" name="empresa" value="{{#soat}}{{empresa}}{{/soat}}" class="form-control form-control-user" id="exampleFirstName" placeholder="Aseguradora">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="date" name="fecha_compra" value="{{#soat}}{{fecha_compra}}{{/soat}}" class="form-control form-control-user" id="exampleFirstName" placeholder="Fecha Compra">
              </div>
              <div class="col-sm-6">
                <input type="date" name="fecha_inicio" value="{{#soat}}{{fecha_inicio}}{{/soat}}" class="form-control form-control-user" id="exampleLastName" placeholder="Fecha inicio">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="contacto" value="{{#soat}}{{contacto}}{{/soat}}" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contacto">
              </div>
              <div class="col-sm-6">
                <input type="text" name="precio" value="{{#soat}}{{precio}}{{/soat}}" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Precio">
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="observaciones" value="{{#soat}}{{observaciones}}{{/soat}}" class="form-control form-control-user" id="exampleInputEmail" placeholder="Observaciones">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              {{#if repuesto}}
                Modificar
              {{else}}
                Guardar
              {{/if}}
            </button>
            <hr>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>



