<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crear Empresa</h1>
          </div>
          <form class="user" action="" method="post">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="nombre" value="{{#empresa}}{{nombre}}{{/empresa}}" class="form-control form-control-user" id="exampleInputPassword" placeholder="Nombre">
              </div>
              <div class="col-sm-6">
              <select class="form-control" type="select" name="id_tipo_empresa" id="">
                  <option value="0" selected >...Tipo de Empresa</option>
                  {{#each tipo_empresa}}
                    <option value="{{id}}">{{nombre}}</option>
                  {{/each}}
              </select>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="direccion" value="{{#empresa}}{{direccion}}{{/empresa}}" class="form-control form-control-user" id="exampleInputEmail" placeholder="Direccion">
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="ciudad" value="{{#empresa}}{{ciudad}}{{/empresa}}" class="form-control form-control-user" id="exampleInputPassword" placeholder="Ciudad">
              </div>
              <div class="col-sm-6">
                <input type="number" name="telefono" value="{{#empresa}}{{telefono}}{{/empresa}}" class="form-control form-control-user" id="exampleLastName" placeholder="Telefono">
              </div>
            </div>
            <div class="form-group">
                <input type="text" name="observaciones" value="{{#empresa}}{{observaciones}}{{/empresa}}" class="form-control form-control-user" id="exampleInputPassword" placeholder="Observaciones">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              {{#if empresa}}
                Modificar
              {{else}}
                Guardar
              {{/if}}
            </button>
            <hr>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>



